@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: 'Montserrat', sans-serif;
}

.grid-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
}
