name: Website CI

on:
  push:
    branches: [main]
    paths:
      - "website/**"
      - ".github/**/website.yml"
  pull_request:

defaults:
  run:
    working-directory: website

jobs:
  build-website:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 24.x
        cache: 'npm'
        cache-dependency-path: website/package-lock.json
    - run: npm ci
    - run: npm run build
